*                       { margin: 0;
						  padding: 0;               		    }
.background             { background-color: #f9f9f9;
				  	      border-collapse: collapse;
				  	      position: relative;        		    }
.background__data       { border: 1px solid #eee; 		        }
.wall                   { background-color: lightgreen;
						  border-color: lightgreen;   	        }
.point                  { background-color: red; 
					      position: absolute;
					      border-radius: 5px;				    }
.snake                  { background-color: orange;
			 		      position: absolute;
			 		      box-shadow: inset 0 0 1px #fff;       }
.interface 		        { position: relative; 				    }
.volume {
	width: 32px;
	height: 32px;
}
.interface__volume      { background: url('../imgs/volume.png') 
						no-repeat center 0 				        }
.interface__volume_mute { background-position: 0 -32px;         }   
.audio            		{ position: absolute;
		 				  left: 0;
		 				  top: 0;					            }

.wait 			        { display: flex;
						  background: lightgreen;
						  width: 50px;
						  height: 50px;
						  position: absolute; 
						  opacity: 1;
						  transition: opacity .4s ease-out;  
						  justify-content: space-around; 
						  align-items: center;			
						  box-shadow: 1px 1px 7px #ddd; 
						  border-radius: 6px;}
.wait__strip 			{ width: 20%;
						  height: 80%;
						  background: #fff;             
						  border-radius: 5px;                   }
.statistic, 
.timing 				{ display: flex; 
						  justify-content: space-around; 
					 	  align-items: center;	          
						  font: small-caps 1.2em 
						  	'Century Gothic', 'Gill Sans', 
						  	sans-serif; 
						  color: #888;					        }
.statistic__total 		{ font-size: 1.3em; 				    }
.hint 					{ position: absolute;
						  right: -50px;			
						  width: 120px;
						  font-family: 'Market Felt', 'Comic Sans MS';
						  font-style: italic;
						  font-weight: bold;			  	   
						  padding: 15px 0 0 10px;}
.hint__item 			{ display: flex;					
						  align-items: center;   			    }						  
.hint__mute 			{ margin-top: 5px; 					    }
.pause__view,
.mute__view 			{ font-size: 1.5em; 
						  background-color: palegreen;
						  width: 40px;
						  height: 40px;
						  text-align: center;
						  line-height: 40px;
						  color: #fff;		
						  border-radius: 4px;				   
						  box-shadow: 1px 1px 2px #ddd;         }
.pause__description,
.mute__description 		{ margin-left: 5px; 
						  font-size: 1.1em;
						  color: #777;                          }