.todo-app {
    box-shadow: 0 0 7px #ddd; 
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 10px;
    border-radius: 5px;
    font-family: 'Century Gothic', 'Gill Sans', sans-serif;
    overflow: hidden;
}
.todo-app__item + .todo-app__item {
    display: flex;
    margin-top: 15px;
}
.todo-app__header {
    color: #fff;
    margin: -16px -10px;
    padding: 5px 7px;
    text-indent: 25px;
    background-color: #9ed0ff;
    font-weight: bold;
    font-size: 1.8em;
    font-variant: small-caps;
    margin-bottom: 16px;
}