.switchbox-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchbox-container_checked .switchbox {
    background: #84c4ff;
}
.switchbox-container_checked .switchbox__thumb {
    background: #fff;
    left: calc(70% - 4px);
}
.switchbox__label {
    width: calc(100% - 60px);
}
.switchbox {
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 20px;
    background: #f1f1f1;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.switchbox__thumb {
    position: absolute;
    width: 30%;
    background: #84c4ff;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    left: 4px;
    transition: all .2s ease-out;
}