.board__row {
    display: flex;
    flex-flow: nowrap;
}
.board__cell {
    font: bold 1.4em 'Marker Felt', 'Comic Sans MS', sans-serif;
    color: #999;
    background: #fff;
    outline: none;
    border: 2px solid #ddd;
    margin-top: -2px;
    margin-left: -2px;
    width: 40px;
    height: 40px;
}
.board__cell:focus {
    background: #fcfcfc;
}
.board__cell_selected {
    background: #fafafa;
}
/* remove grid borders */
.board__row:first-child .board__cell { border-top: none   }
.board__row:last-child .board__cell  { border-bottom: none}
.board__cell:first-child { border-left: none  }
.board__cell:last-child  { border-right: none }
