 * {
            margin: 0;
            padding: 0;
        }
        .slider {
            position: relative;
            height: 100px;
            width: 10px;
            background: #f5f5f5;
            border-radius: 15px;
            border: 2px solid #fff;
        }
        .slider__thumb {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            background: #84c4ff;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2px;
            border-radius: 15px;
            z-index: 20;
        }
        .slider__status-bar {
            position: absolute;
            width: 10px;
            height: 0;
            border-radius: 15px;
            bottom: 0;
            background: lightblue;
            z-index: 10;
        }
        /* slider */
        .page__palette {
            margin: 15px;
        }
        .palette {
            display: flex;
            max-width: 150px;
            width: 100px;
            justify-content: space-around;
        }
        .palette__item {
            margin: 0 5px;
        }