.scrollbar { 
    position: relative;
}
.scrollbar__content {
    overflow: hidden;
    padding: 4px;
}
.scrollbar_active .scrollbar__content {
    padding-right: 20px;
}

.slide-track {
    position: absolute;
    display: none;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f1f1f1;
    border-radius: 5px;
}

.slide-track__thumb {
    position: absolute;
    top: 0;
    width: 10px;
    border-radius: 5px;
    background: #84c4ff;
}

.scrollbar_active .slide-track {
    display: block;
}